<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6 col-12">
      <mat-card class="signup-card">
        <mat-card-header>
          <mat-card-title class="text-center w-100">Sign Up</mat-card-title> <!-- Centered title better -->
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

            <mat-form-field appearance="outline" class="w-100 mb-3">
              <mat-label>Email</mat-label>
              <input matInput id="email" type="email" formControlName="email" required placeholder="Enter your email" />
              <mat-error *ngIf="signupForm.get('email')?.errors?.['required'] && signupForm.get('email')?.touched">
                Email is required
              </mat-error>
              <mat-error *ngIf="signupForm.get('email')?.errors?.['email'] && signupForm.get('email')?.touched">
                Invalid email format
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100 mb-3">
              <mat-label>Password</mat-label>
              <input matInput id="password" type="password" formControlName="password" required placeholder="Enter your password" />
              <mat-error *ngIf="signupForm.get('password')?.errors?.['required'] && signupForm.get('password')?.touched">
                Password is required
              </mat-error>
              <mat-error *ngIf="signupForm.get('password')?.errors?.['minlength'] && signupForm.get('password')?.touched">
                Minimum {{ signupForm.get('password')?.errors?.['minlength']?.requiredLength }} characters required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100 mb-3">
              <mat-label>Confirm Password</mat-label>
              <input matInput id="confirmPassword" type="password" formControlName="confirmPassword" required placeholder="Confirm your password" />
              <mat-error *ngIf="signupForm.get('confirmPassword')?.errors?.['required'] && signupForm.get('confirmPassword')?.touched">
                Confirm password is required
              </mat-error>
              <mat-error *ngIf="passwordMismatchError">
                Passwords do not match
              </mat-error>
            </mat-form-field>
            <button mat-raised-button type="submit" color="primary" class="w-100" [disabled]="signupForm.invalid">Sign Up</button>
          </form>

          <div class="text-center mt-3">
            <p>Already have an account? <a routerLink="/">Login</a></p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>